.message-body {
    background-color: rgb(206, 205, 205);
    border-width: thick;
    outline-style: solid;
    padding: .5em;
}

.success-body {
    color: green;
    outline-color: green;
}

.error-body {
    color: red;
    outline-color: red;
}